* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 20px;
    border-color: rgb(20, 206, 101);
}

body {
    padding: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(79, 157, 252);
}
.container {
    max-width: 50%;
    padding: 65px 45px 65px 45px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    background-color: rgb(116, 206, 250);
    border: 3px solid rgb(177, 242, 246);
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgb(29, 71, 122);
    line-height: 1.6em;
}

h1 {
    font-size: 2em;
    padding: 15px;
    margin-bottom: 30px;
}

h1 + p,
label {
    letter-spacing: 1px;
    font-size: 1em;
    margin-bottom: 30px;
}

.guessSubmit {
    padding: 10px;
    border: 2px solid rgb(29, 71, 122);
    background-color: rgb(177, 242, 246);
    border-radius: 20px;
    font-size: 1em;
}
.guessSubmit:hover {
    background-color: rgb(29, 71, 122);
}

.transition {
    transition: .3s;
}

.form input[type="number"] {
    width: 200px;
}

.guesses,
.lastResult,
.lowOrHi {
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1em;
}
.lastResult {
    font-weight: bold;
}

button {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(29, 71, 122);
    border-radius: 15px;
    background-color:rgb(177, 242, 246);
    font-size: 1em;
    letter-spacing: 1px;
}
button:hover {
    background-color: rgb(29, 71, 122);
}